# /etc/systemd/system/novnc-websockify@.service
[Unit]
Description=TigerVNC Server for %i
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/websockify --web /usr/local/bin/novnc/ 0.0.0.0:5801 localhost:5901
Restart=always
RestartSec=1
User=%i

[Install]
WantedBy=default.target