# /etc/systemd/system/tigervnc@.service
[Unit]
Description=TigerVNC Server for %i
After=network.target

[Service]
Type=simple
# WorkingDirectory=/home/%i
ExecStart=/usr/bin/tigervncserver -fg -rfbport 5901 -localhost yes -SecurityTypes None -xstartup /usr/local/vnc/xstartup
Restart=always
RestartSec=1
User=%i

[Install]
WantedBy=default.target