[Unit]
Description=Starts eBPF user command tracking service
After=multi-user.target

[Service]
Type=simple
ExecStartPre=bash -c "mkdir -p /var/log/ebpf"
ExecStart=/usr/bin/python3 /srv/usercommands.py

[Install]
WantedBy=multi-user.target